<div class="wrap">
    <div class="cont-title">
        <h2 class="title">Hobbies</h2>
        <h5>關於我的一些興趣</h5>
    </div>
    <!--<div class="line"></div>-->
    <div class="back" [routerLink]="['/about']"><img src="../assets/svg/back.svg" alt=""></div>
    <div class="hob-cont">
        <div class="banner">
            <div class="pic">
                <img src="../assets/img/camera.png" alt="camera">
            </div>
            <div class="des">
                <h4 class="title">攝影</h4>
                <div class="red-line"></div>
                <p class="text-cont">
                    要拍出好的照片其實沒有捷徑，多想多看多拍而已。
                    <br>
                    <br>Ansel Adams安塞爾．亞當斯說過：＂真正的作品不需要言語去說明，而且它也無法用言語說明。＂好的照片本身就能陳述故事，透過自己的觀察並詮譯才能完成一個好的作品。
                    <br>想像力不僅是攝影師必要的條件，觀者對於作品同樣也要有想像空間，有了想像作品就有了故事。
                </p>
                <div class="waves-effect waves-light btn grey darken-3 more-button" [routerLink]="['/about/camera']">
                    MORE<i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!-- end .banner photo -->
        <div class="banner">
            <div class="pic">
                <img src="../assets/img/climbing.png" alt="climbing">
            </div>
            <div class="des">
                <h4 class="title">登山</h4>
                <div class="red-line"></div>
                <p class="text-cont">
                    第一次跟朋友爬過大山就愛上了台灣山林之美，除了接近大自然外也讓心靈得到放空的機會。
                    <br>
                    <br>爬山一直都不是輕鬆的選項，從登山前的行前體能訓練，糧食規劃，路線安排到裝備整理讓人想到都覺得麻煩。但只要一步一腳印踏實的走過山頭，眼中所及的美景會讓一切都值得，最後登頂那種成就感只有自己走過才能了解。
                </p>
                <div class="waves-effect waves-light btn grey darken-3 more-button" [routerLink]="['/about/climbing']">
                    MORE<i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!-- end .banner climbing -->
        <div class="banner">
            <div class="pic">
                <img src="../assets/img/bike.png" alt="bike">
            </div>
            <div class="des">
                <h4 class="title">單車</h4>
                <div class="red-line"></div>
                <p class="text-cont">
                    開車太快，走路太慢，騎單車剛剛好。
                    <br>騎車不像汽機車那樣快速又方便，但這樣的速度卻能帶我們看到平常看不到的美景。
                    <br>
                    <br>騎單車從一開始的代步到現在變成興趣之一，假日的時候有時跟朋友約騎大台北，但更多時候喜歡一個人漫無目地的騎車發現新的景點。
                </p>
                <div class="waves-effect waves-light btn grey darken-3 more-button" [routerLink]="['/about/bike']">
                    MORE<i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!-- end .banner bike -->
    </div>
    <!-- end .hob-cont -->
</div>
<!-- end .wrap -->