<header>
    <nav>
        <a routerLink="/index" (click)='closeMenu()'><img class="logo" src="../../asset/svg/logo.svg" alt="logo"></a>
        <ul class="menu">
            <li><a routerLink="/about" routerLinkActive="foucs">ABOUT</a></li>
            <li><a routerLink="/work" routerLinkActive="foucs">WORK</a></li>
            <li><a [routerLink]="['/contact']" routerLinkActive="foucs">CONTACT</a></li>
        </ul>
        <div class="social">
            <a href="javascript:;" (click)="onFb()">
                <img src="../../asset/svg/facebook.svg" alt="facebook" class="svg">
            </a>
            <a href="javascript:;" (click)="onIg()">
                <img src="../../asset/svg/instagram.svg" alt="instagram" class="svg">
            </a>
            <a href="javascript:;" (click)="onFlickr()">
                <img src="../../asset/svg/flickr.svg" alt="flickr" class="svg">
            </a>
        </div>
        <div class="hamber" [class.open]='isopen' (click)='changeHamer()'>
            <div class="icon"></div>
        </div>
    </nav>
    <!-- end .nav -->
</header>
<!-- end .header -->
<!-- mobile meun -->
<div class="mobile-menu">
    <ul>
        <li routerLinkActive="foucs"><a routerLink="/about" (click)="closeMenu()">ABOUT</a></li>
        <li routerLinkActive="foucs"><a routerLink="/work" (click)="closeMenu()">WORK</a></li>
        <li routerLinkActive="foucs"><a [routerLink]="['/contact']" href="javascript:;" (click)="closeMenu()">CONTACT</a></li>
    </ul>
    <div class="social">
        <a href="javascript:;" (click)="onFb()">
            <img src="../../asset/svg/facebook.svg" alt="facebook" class="svg">
        </a>
        <a href="javascript:;" (click)="onIg()">
            <img src="../../asset/svg/instagram.svg" alt="instagram" class="svg">
        </a>
        <a href="javascript:;" (click)="onFlickr()">
            <img src="../../asset/svg/flickr.svg" alt="flickr" class="svg">
        </a>
    </div>
</div>
<!-- end .mobile-menu -->
