<div class="wrap">
    <div class="cont-title">
        <h2 class="title">ABOUT <span class="subtitle">Hobbies</span></h2>
        <!-- <h3 class="subtitle"></h3> -->
    </div>
    <div class="line"></div>
    <div class="hob-cont">
        <app-hobbies-menu></app-hobbies-menu>
        <div class="banner intro">
            <div class="pic">
                <img [src]="banner.pic" [alt]='banner.name'>
            </div>
            <div class="des">
                <h4 class="title">{{banner.name}}</h4>
                <div class="red-line"></div>
                <p class="text-cont" [innerHTML]="banner.text"></p>
            </div>
        </div>
        <h3 class="title_m">{{banner.name}}</h3>
        <!-- end .banner photo -->
        <div class="items">
            <div class="item" *ngFor="let item of items" (click)='pop(item)'>
                <div class="item-pic">
                    <img class='lazy' [attr.data-original]="item.pic">
                </div>
                <div class="item-text">
                    <h5>{{item.title}} <span class="date">/{{item.date}}</span> </h5>
                    <p class="text">{{item.summary}}</p>
                    <div class="down">
                        <div class="moreBtn">MORE<i class="fa fa-chevron-right tiny" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end .items -->
    </div>
    <!-- end .hob-cont -->
</div>

<app-popup [popCont]='pitem'></app-popup>

