@import "color";
@import "mixin";
@import "media";
// about style.css
.wrap {}

.about-cont {
    display: block;
    position: relative;
    text-align: center;
    margin-top: -210px;
    padding: 0 5%;
    width: 100%;
    top: 50%;
    @media #{$sml} {
        padding: 0;
        margin-top: 60px;
        top: 0;
    }
    ul {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media #{$sml} {
            justify-content: center;
        }
        .box {
            width: 32%;
            letter-spacing: 1px;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.30);
            cursor: pointer;
            color: $textGray;
            .box-cont {
                background: #fcfcfc;
                padding: 0 0 3rem;
                @include ease(0.25s);
                &:hover {
                    background: #eee;
                    color: $textDark;
                }
            }
            &:hover {
                box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.20);
            }
            @media #{$med} {
                width: 32%;
            }
            @media #{$sml} {
                width: 95%;
                // padding: 0 0 1.5rem;
                margin-bottom: 0.5rem;
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
                .box-cont{
                    background-color: #eee;
                }
            }
            .bg {
                text-align: center;
                height: 236px;
                overflow: hidden;
                padding-top: 2rem;
                img {
                    height: 200px;
                }
                @media #{$sml} {
                    height: 200px;
                    overflow: visible;
                    padding-top: 1rem;
                    img {
                        // height: 150px;
                    }
                }
            }
            .p2 {
                padding-top: 40px;
                @media #{$sml} {
                    padding-top: 5px;
                }
            }
            h6 {
                margin-top: 20px;
                line-height: 1.5;
                letter-spacing: 0;
                display: block;
                @media #{$sml} {
                    font-size: 1.5rem;
                }
                span {
                    display: block;
                    font-size: 1rem;
                    font-weight: 500;
                    @media #{$sml} {
                        font-size: 1.5rem;
                    }
                }
            }
            p {
                margin-top: 55px;
                font-weight: 400;
                @media #{$sml} {
                    font-size: 1.2rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}
