@import "color";
@import "mixin";
@import "cont-title";
// hobbies.css
.wrap {
    @media #{$med} {
        // background-color: $lightRed;
    }
    @media #{$sml} {
        padding: 4.625rem 0 0.875rem;
        // background-color: red;
    }
    .hob-cont {
        margin-top: 1.875rem;
        color: $text;
        width: 100%;
        position: relative;
        @media #{$sml} {
            height: 100%;
            margin-top: 0;
        }
        .banner {
            width: 95%;
            height: 380px;
            overflow: hidden;
            position: relative;
            border: 1px solid $lightGray;
            margin: 0 auto 0.5rem;
            background: #ECE9E6; 
            background: -webkit-linear-gradient(to right, #ECE9E6 , #FFFFFF);
            background: linear-gradient(to right, #ECE9E6 , #FFFFFF); 
        
            @media #{$med} {
                width: 95%;
            }
            @media #{$sml} {
                width: 95%;
                height: auto;
                background-color: #eee;
                border: 0;
                margin: 12px auto 0;
                padding-bottom: 2rem;
                background: #ECE9E6;
                // margin-bottom: 0.5rem;
            }
            background-color: $superLight;
            &.intro {
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-bottom: 1px dashed $textGray;
                background: inherit;
                @media #{$sml} {
                    display: none;
                }
            }
            .pic {
                position: relative;
                width: 45%;
                height: 100%;
                float: left;
                // overflow: hidden;
                @media #{$sml} {
                    height: 270px;
                    margin-top: 1rem;
                }
                img {
                    position: absolute;
                    height: 85%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @media #{$med} {
                        width: auto;
                    }
                    @media #{$sml}{
                        height: 100%;
                    }
                }
            }
            .des {
                width: 55%;
                height: 100%;
                padding: 0 2rem 0 4rem;
                float: right;
                line-height: 1.7;
                color: $textDark;
                position: relative;
                @media #{$med} {
                    padding-left: 2rem;
                }
                @media #{$sml} {
                    padding: 0 1.5rem;
                    height: 55%;
                    line-height: 1.5;
                    p {
                        text-align: justify;
                        font-size: 1rem;
                    }
                }
                .text-cont{
                    font-weight: 400;
                    span{
                        // color: $lightRed;
                        font-weight: 400;
                        font-style: italic;
                    }
                    
                }
                
                .more-button {
                    position: absolute;
                    right: 2rem;
                    bottom: 1.5rem;
                    @media #{$sml} {
                        position: relative;
                        margin: 2rem auto 0;
                        right: inherit;
                        bottom: inherit;
                    }
                }
                .title {
                    margin-top: 2rem;
                    font-weight: 600;
                    @media #{$med} {
                        margin-top: 2rem;
                    }
                    @media #{$sml} {
                        margin-top: 5px;
                    }
                }
                .red-line {
                    margin: 0 0 1rem;
                    width: 60px;
                    height: 1px;
                    display: block;
                    border-bottom: 1px solid $darkRed;
                    @media #{$med} {
                        margin: 0.5rem 0;
                    }
                    @media #{$sml} {
                        margin: 0.5rem auto 1.5rem;
                    }
                }
            }
            .pic,
            .des {
                @media #{$sml} {
                    text-align: center;
                    float: none;
                    width: 100%;
                }
            }
        }
        .items {
            width: 95%;
            position: relative;
            margin: 1.5rem auto 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .item {
                position: relative;
                background-color: white;
                overflow: hidden;
                width: 32.5%;
                margin-bottom: 1rem;
                border: 1px solid $lightGray;
                @include rounded(2px);
                @media #{$med} {
                    width: 49%;
                }
                @media #{$sml} {
                    width: 100%;
                    margin: 0 0 2.5%;
                }
                .item-pic {
                    position: relative;
                    height: 144px;
                    width: 100%;
                    overflow: hidden;
                    img {
                        position: absolute;
                        width: 101%;
                        top: 50%;
                        left: 50%;
                        margin-right: -50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .item-text {
                    position: relative;
                    padding: 0.7rem;
                    color: $textDark;
                    text-align: justify;
                    h5 {
                        font-weight: 600;
                    }
                    .fa {
                        margin-left: 5px;
                    }
                    .date {
                        font-weight: 400;
                        margin-left: 0.5rem;
                        // color: $textGray;
                        font-size: 12px;
                        // font-family: '微軟正黑體', Arial;
                    }
                    .text {
                        margin-top: 1rem;
                    }
                    .down {
                        display: block;
                        margin-top: 15px;
                        @include clearfix;
                        font-size: 0.875rem;
                        .date {
                            float: left;
                            color: $textGray;
                        }
                        .btn {
                            // font-family: '微軟正黑體', Arial;
                            color: $lightRed;
                            float: right;
                            display: block;
                            cursor: pointer;
                            &:hover {
                                color: $darkRed;
                            }
                        }
                    }
                }
            }
        }
    }
}

.more-button {
    width: auto;
    height: 34px;
    padding: 0 17px;
    font-size: 12px;
    font-weight: 300;
    color: $textGray;
    cursor: pointer;
    background-color: inherit;
    @include rounded(5px);
    border: 1px solid $textGray;
    // box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.50);
    @media #{$sml} {
        @include ease;
        right: inherit;
        bottom: 5%;
        width: 80%;
        height: 3rem;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0);
    }
    p {
        font-size: 12px;
    }
    &:hover {
        background-color: $textGray;
        border-color: $textGray;
        color: $superLight;
        // box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.30);
    }
    .fa {
        margin-left: 10px;
    }
    .btn-text {
        display: inline-block;
        line-height: 30px;
        @include ease;
        @media #{$sml} {
            line-height: 3rem;
            font-size: 1rem;
        }
    }
}
