@import "color";
@import "mixin";
@import "media";
// index style.css
.wrap {
    display: none;
    background: #abbabb;
    background: -webkit-linear-gradient(to top, #abbabb, #fff);
    background: linear-gradient(to top, #abbabb, #fff);
    max-width: inherit;
    .bgimg,
    .text-box {
        position: absolute;
        display: none;
    }
    .bgimg {
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
            position: relative;
        }
        @media #{$sml} {
            width: 100%;
            top: 45%;
            img {
                width: 80%;
                left: 50%;
                transform: translate(-50%, 0%);
            }
        }
    }
    .text-box {
        width: 250px;
        height: 100px;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        cursor: pointer;
        @include rounded(2px);
        &:hover {
        @include ease(0.25s);
            background-color: $lightGray;
        }
        .box-title {
            margin-top: 1rem;
            font-weight: 500;
            // letter-spacing: 1px;
            color: $textDark;
        }
        .box-name {
            font-size: 1rem;
            color: $textDark;
        }
        .line {
            border-bottom: 1px solid $darkRed;
            width: 100px;
            margin: 0.6rem auto;
        }
        @media #{$sml} {
            width: 95%;
            top: 90%;
            height: 100px;
            .box-title,
            .box-name {
                line-height: 1.6;
            }
            .box-title {
                margin-top: 1rem;
            }
            .line {
                display: none;
            }
        }
    }
    @include clearfix;
}
