@import "color";
@import "mixin";
@import "media";
// index style.css
.wrap {
    display: none;
    background: #abbabb;
    background: -webkit-linear-gradient(to top, #abbabb, #fff);
    background: linear-gradient(to top, #abbabb, #fff);
    max-width: inherit;
    .bgimg,
    .text-box {
        position: absolute;
    }
    .bgimg {
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
            position: relative;
        }
        @media #{$sml} {
            width: 100%;
            top: 45%;
            img {
                width: 80%;
                left: 50%;
                transform: translate(-50%, 0%);
            }
        }
    }
    .text-box {
        width: 300px;
        height: 125px;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        cursor: pointer;
        @include rounded(2px);
        &:hover {
            .start{
                @include ease(0.25s);
                // background-color: $textGray;
                background-color: $darkRed;
                color: #fff;
            }
            
        }
        .box-title {
            margin-top: 1.7rem;
            font-weight: 500;
            // letter-spacing: 1px;
            color: $textDark;
        }
        .box-name {
            font-size: 1rem;
            color: $textDark;
        }
        .line {
            border-bottom: 1px solid $darkRed;
            width: 100px;
            margin: 0.6rem auto;
        }
        .start {
            position: relative;
            width: 60%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 1.125rem;
            @include rounded(2px);
            margin: 2rem auto;
            
            border: 1px solid $darkRed;
            color: $darkRed;
            cursor: pointer;
            display: none;

        }
        @media #{$sml} {
            width: 95%;
            top: 85%;
            height: 120px;
            .box-title,
            .box-name {
                line-height: 2;
            }
            .box-title {
                margin-top: 1rem;
            }
            .start{
                background-color: $darkRed;
                color: #fff;
            }
        }
    }
    @include clearfix;
}
