// reset
@import "compass/reset";
@import "typography";
@import "color";
@import "mixin";
@import "media";
@import url("font-awesome.min.css");
body {
    position: absolute;
    width: 100%;
    height: 100%;
}

* {
    text-decoration: none;
}

.wrap {
    position: relative;
    display: block;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header {
    height: 3.75rem;
    background-color: $superLight;
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid $lightGray;
    z-index: 100;
    @media #{$med}{
        // background-color: $lightRed;
    }
    @media #{$sml} {
        position: fixed;
        height: 3.125rem;
    }
    .logo {
        margin-right: 2rem;
        margin-top: 0.8125rem;
        padding: 0;
        position: relative;
        float: left;
        width: 35px;
        @media #{$sml} {
            margin-top: 0.5rem;
        }
    }

    nav {
        max-width: 1280px;
        height: 3.75rem;
        padding: 0 20px;
        position: relative;
        display: block;
        margin: 0 auto;
        ul.menu {
            display: inline-block;
            position: relative;
            line-height: 30px;
            padding: 15px 0;
            li {
                font-family: Helvetica, '微軟正黑體', Arial;
                float: left;
                font-weight: 500;
                width: 120px;
                text-align: center;
                font-size: 0.875rem;
                letter-spacing: 1px;
                border-left: 1px solid $lightGray;
                @include ease(0.25s);
                :hover {
                    color: $lightRed;
                }
                a.foucs {
                    color: $darkRed;
                    font-weight: 700;
                }
            }
        }
        a {
            color: $textGray;
            display: block;
        }
        .social {
            display: inline-block;
            float: right;
            .svg {
                float: left;
                margin: 20px 10px;
                cursor: pointer;
                display: block;
                width: 20px;
                @include ease(0.25s);
                &:hover path {
                    fill: $lightBlue;
                }
            }
        }
        @media #{$sml} {
            ul.menu,
            .social {
                display: none;
            }
        }
    }
}

//手機的menu
.hamber {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 15px 0;
    top: 0;
    right: 2rem;
    cursor: pointer;
    z-index: 8;
    display: none;
    @media #{$sml} {
        display: block;
        margin-top: 0.5rem;
    }
    .icon {
        transition-duration: 0.2s;
        position: absolute;
        height: 3px;
        width: 30px;
        top: 15px;
        background-color: $textDark;
        &:before {
            transition-duration: 0.2s;
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: $textDark;
            content: "";
            top: -10px;
        }
        &:after {
            transition-duration: 0.2s;
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: $textDark;
            content: "";
            top: 10px;
        }
    }
}

.hamber.open {
    .icon {
        transition-duration: 0.2s;
        background: transparent;
        &:before {
            transform: rotateZ(45deg) scaleX(1.25) translate(6px, 6.5px);
        }
        &:after {
            transform: rotateZ(-45deg) scaleX(1.25) translate(6.5px, -6.5px);
        }
    }
}

.mobile-menu {
    display: none;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 8;
    top: -100%;
    background-color: $superLight;
    padding: 2rem 0;
    letter-spacing: 2px;
    a {
        color: $textGray;
        font-weight: 500;
    }
    .foucs {
        border-bottom: 1px solid $darkRed;
    }
    ul {
        margin: 3rem 10% 5rem;
        li {
            line-height: 3.5;
            font-size: 1.25rem;
            border-bottom: 1px solid $lightGray;
        }
    }
    .social {
        position: absolute;
        bottom: 8%;
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            margin: 0 10px;
        }
    }
    @media #{$sml} {
        display: block;
    }
}
