<div class="wrap">
    <div class="cont-title">
            <h2 class="title">Experience</h2>
            <h5>工作經歷</h5>
        </div>
        <!--<div class="line"></div>-->
        <div class="back" routerLink="/about"><img src="assets/svg/back.svg" alt=""></div>
    <div class="exp-cont">
        <div class="item" *ngFor="let item of experience">
            <div [class]="item.dist">
                <div class="doc"></div>
                <div class="text-cont">
                    <h3 class="date">{{item.date}}</h3>
                    <p class="red">{{item.pos}}</p>
                    <p>公司/{{item.com}}</p>
                    <div class="red-line"></div>
                    <p [innerHTML]="item.des"></p>
                    <p>{{item.skill}}</p>
                </div>
            </div>
        </div>
        
    </div>
    <!-- end .exp-cont -->
</div>
