<div class="wrap">
    <div class="cont-title">
        <h1 class="title">CONTACT</h1>
    </div>
    <!--<div class="line"></div>-->
    <div class="form-cont">
        <div class="row">
            <h4 class="thank col s12 center-align">感謝您，若有任何興趣請留下您的聯絡方式，我將會儘快與您聯絡。</h4>
        </div>

        <div class="row cont">
            <form id="contact-form" class="col s12" [formGroup]="form" (submit)="onSubmit()">
                <div class="row">
                    <div class="input-field col m5 s12">
                        <input id="name" type="text" formControlName="name" [class.invalid]="name.invalid && name.touched" [class.valid]="name.valid">
                        <label for="name">姓名</label>
                    </div>

                    <div class="input-field col m7 s12">
                        <input id="email" type="email" formControlName="email" [class.invalid]="email.invalid && email.touched" [class.valid]="email.valid">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="subject" type="text" formControlName="_subject" [class.invalid]="_subject.invalid && _subject.touched" [class.valid]="_subject.valid">
                        <label for="subject">主旨</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea" class="materialize-textarea" formControlName="message" [class.invalid]="message.invalid && message.touched" [class.valid]="message.valid"></textarea>
                        <label for="textarea">訊息</label>
                    </div>
                </div>
                <!--<input type="hidden" formControlName="_next" value="" />-->
                <button class="btn waves-effect waves-light submitBtn" [class.isClick]="isClick" type="submit" [disabled]="form.invalid">Submit</button>
                <a href="javascript:;" class="btn disabled" [class.isClick]="!isClick">上傳中</a>
            </form>
        </div>
    </div>
</div>