<div class="wrap">
    <div class="cont-title">
        <h1 class="title">CONTACT</h1>
    </div>
    <div class="line"></div>
    <div class="form-cont">
        <h4 class="thank">感謝指教，若有任何的興趣請留下您的聯絡方式，我會儘快與您聯絡。</h4>
        <div class="row cont">
            <form id="contact-form" class="col s12" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" name="name" class="validate">
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="subject" type="text" name="_subject" class="validate">
                        <label for="subject">Subject</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" name="Email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" name="Message"></textarea>
                        <label for="textarea1">Message</label>
                    </div>
                </div>
                <!-- <input class="submit" type="submit" value="Send"> -->
                <button class="btn waves-effect waves-light submitBtn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
