<div class="wrap">
    <div class="cont-title">
        <h1 class="title">ABOUT</h1>
        <h2 class="subtitle">Hobbies/興趣</h2>
    </div>
    <div class="line"></div>
    <div class="hob-cont">
        <icon-menu></icon-menu>
        <div class="banner intro">
            <div class="pic">
                <img src="img/bike.jpg" alt="climbing">
            </div>
            <div class="des">
                <h4 class="title">單車</h4>
                <div class="red-line"></div>
                <p class="text-cont">
                    最有機會成為第一批太空旅遊公司的一員的 Virgin Galactic，今天走出了重要的一步：取得了由美國聯邦航空管理局商用太空運輸辦公室頒給的營運執照。這是在仔細檢視過 Virgin Galactic 的火箭設計、安全性功能、以及飛行航道後，確認 Virgin Galactic 適宜營運的證明。確認 Virgin Galactic 適宜營運的證明。
                </p>
            </div>
        </div>
        <!-- end .banner photo -->
        <div class="items">
            <div class="item">
                <div class="item-pic">
                    <img src="img/photo01.jpg" alt="">
                </div>
                <div class="item-text">
                    <h5>日常器具</h5>
                    <p>生活中的用品不只是好看更應該好用,什麼樣的器具代表著什麼樣的生活...</p>
                    <div class="btn">more<i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="item">
                <div class="item-pic">
                    <img src="img/photo02.jpg" alt="">
                </div>
                <div class="item-text">
                    <h5>生活中的美景</h5>
                    <p>生活中的用品不只是好看更應該好用麼樣的器具代表著什麼樣的生活態度。</p>
                    <div class="btn">more<i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="item">
                <div class="item-pic">
                    <img src="img/photo01.jpg" alt="">
                </div>
                <div class="item-text">
                    <h5>日常器具</h5>
                    <p>生活中的用品不只是好看更應該好用,什麼樣的器具代表著什麼樣的生活態度。</p>
                    <div class="btn">more<i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                </div>
            </div>
            
        </div>
        <!-- end .items -->
    </div>
    <!-- end .hob-cont -->
</div>
