<div class="wrap">
    <div class="cont-title">
        <h1 class="title">ABOUT</h1>
        <h2 class="subtitle">Biography/自傳</h2>
    </div>
    <div class="line"></div>
    <div class="back" routerLink="/about"><img src="asset/svg/back.svg" alt=""></div>
    <div class="bio-cont">
        <div class="profile">
            <div class="photo">
                <img src="img/erikson2.JPG" alt="">
            </div>
            <h4 class="name">陳柏達 / Erikson</h4>
        </div>
        <!-- end .profile -->
        <div class="intro">
            <p>第一次踏入網路產業是從網頁設計開始，對設計的美感有自己的看法，接著設計做了一兩年轉換跑道開始摸索程式的樂趣。
                <br>
                <br> 我是從flash盛行的年代開始接觸寫程式這一條路,那時候寫as3是網頁前端的主流，也是一個美好的年代，不用考慮所有瀏覽器的相容性跟所有的行動裝置,主要是負責網頁上的互動及流程的串接作製作，並與後端配合串接api存取資料庫的資料。
                <br>
                <br> 隨著flash式微，開始學習javascript及其他相關工具，除了前端網頁技術外，也熟悉FB api , Angular js, Git 版本控管及glup開發工具，上一個工作的專案大多用Angular JS 框架去完成，和fb api 串接也是幾乎每個案子都會用到。
                <br>
                <br> 以下提供一些上一個工作有經手的專案(2016), 主要是負責前端程式的撰寫。
            </p>
            <br>
            <p class="skill">
                <strong>MUJI</strong>
                <br>
                <a href="http://www.muji.tw/currybus/" target="_block">http://www.muji.tw/currybus/</a>
                <br>
                <a href="http://www.muji.tw/hardcarrycase/" target="_block">http://www.muji.tw/hardcarrycase/</a>
                <br>
                <br>
                <strong>兒聯盟童福利</strong>
                <br>
                <a href="http://help.children.org.tw/" target="_block">http://help.children.org.tw/</a>
                <br>
                <a href="http://love.children.org.tw/" target="_block">http://love.children.org.tw/</a>
                <br>
                <br>
                <strong>Expedia</strong>
                <br>https://apps.facebook.com/expediaonedollar/
                <!-- <a href="https://apps.facebook.com/expediaonedollar/" target="_block">https://apps.facebook.com/expediaonedollar/</a> -->
                <br>
                <br>
                <strong>Gap</strong>
                <br>
                <a href="http://gaptaiwan.com.tw/longlivesummer/" target="_block">http://gaptaiwan.com.tw/longlivesummer/</a>
                <br>
                <br>
                <strong>New  Balance</strong>
                <br>
                <a href="http://www.nb-event.com.tw/cny/" target="_block">http://www.nb-event.com.tw/cny/</a>
                <br>
                <br>
                <strong>亞尼克</strong>
                <br>
                <a href="http://share.yannick.tw/" target="_block">http://share.yannick.tw/</a>
            </p>
            <br>
            <p class="skill">
                <strong class="title-box">相關技能：</strong> Adobe Photoshop，ActionScriptHTML，CSS，JavaScript，jQuery，AngularJs，Git ，FB API，Gulp 開發工具
                <br>
                <br>
                <strong class="title-box">作業系統：</strong> MAC，PC
            </p>
        </div>
        <!-- end .intro -->
    </div>
    <!-- end .bio-cont -->
</div>
