<div class="activity">
    <a href="javascript:;" class="close" ng-click="closeBtn()">
        <svg version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 39.016 39.017" enable-background="new 0 0 39.016 39.017" xml:space="preserve">
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#e9af78" points="39.016,3.547 35.469,0 19.508,15.961 3.547,0 0,3.547 15.961,19.508 0,35.469 3.547,39.016 19.508,23.055 35.469,39.017 39.016,35.47 23.055,19.508 " />
        </svg>
    </a>
    <h1>活動辦法</h1>
    <h2>REGULATIONS</h2>
    <article>活動期間參加「盛放夏天 ☀ 跟著Gap去旅行！」活動，就可獲得夏日限定優惠券！
        <p class="first">活動時間</p>2016年5月13日起至2016年6月1日止 (優惠券當日截止使用)
        <p class="first">活動方式</p>
        <ul>
            <li>使用者參加本站「盛放夏天 ☀ 跟著Gap去旅行！」網路活動</li>
            <li>使用者完成操作流程即可獲得夏日限定優惠券(期間限定)</li>
            <li>進一步分享到Facebook與填寫基本資料更可以抽住宿大獎(資料僅供本次活動抽獎使用)</li>
        </ul>
        <p class="first">活動贈品及使用方式</p>
        <p class="second">第一重 Gap門市優惠券</p>
        內容預告如下
        <br> ．Gap全系列產品25元優惠券
        <br> ．Gap全系列產品50元優惠券
        <br> ．Gap全系列產品75元優惠券
        <br>
        <br> 以上優惠券有效期限至2016年6月1日止，逾期不可使用。活動適用於台灣Gap門市與台灣官網(gap.tw)。 線上活動詳情請上gap.cn、gap.hk或gap.tw。顧客需參加Gap Taiwan網路活動以獲取手機優惠劵。 對之前所購買商品不做相應調整。請注意部分優惠劵單次折扣有數量限制，顧客須向門市收銀員顯示手機或列印優惠券以進行折扣。線上商店輸入優惠代碼可同享優惠。 對於顧客誤操作刪除之優惠券概不負責 。優惠不可與其他門市優惠或折扣同時使用。蓋璞公司員工不可參加該活動。
        <p class="second">第二重 分享活動再抽雙人住宿券</p>
        活動期間內分享本活動，即可抽飯店雙人住宿券！
        <br>中獎者將以電話通知，每組手機號碼限參加乙次。
        <br>
        <div class="prize">
            <h3>獎項</h3>
            <p><span>１名</span>台北淡水吹風 承億文旅
                <br>經典客房雙人住宿券</p>
            <p><span>１名</span>台南毛屋
                <br>透明大屋雙人住宿券</p>
            <p><span>１名</span>高雄義大皇家酒店
                <br>豪華客房雙人住宿券</p>
            <p><span>１名</span>花蓮雪雲城堡
                <br>豪華客房雙人住宿券</p>
        </div>
        <ul>
            <li>中獎名單將於2016年6月6日以電腦隨機抽出，並公佈中獎者姓名及電話號碼前7碼於本活動網站，且在6月10日前會接獲email與電話通知。請參加者確保6月6日至6月10日期間電話能正常接聽，逾期若未能成功連繫，將自動取消中獎資格。</li>
            <li>中獎住宿券使用期間為2016年6月30日至2016年8月31日。不分平假日皆可使用。</li>
            <li>獎項為飯店/民宿住宿券，但不包含以下費用 : 轉讓、其他雜支，以及使用者所負擔之其他開支，包括但不限於飯店/民宿所產生之雜費(例如客房服務費用、餐飲/迷你吧檯費用、洗衣費、購物等)。</li>
            <li>所有中獎者依國稅局規定贈品金額超過新台幣1,000 元(含)以上，須申報中獎之扣繳憑單，請領獎人繳交身份證正反影本(逾期視同放棄中獎權利)。將開具扣繳憑單給領獎人。</li>
            <li>中獎住宿券相關住房規範依住宿券所載為準。</li>
            <li>中獎獎項不得轉換、轉讓或折換現金。</li>
            <li>關於領獎方式，有任何疑問請私訊<a href="http://www.facebook.com/GapTW" target="_blank">Gap Taiwan粉絲團</a>。</li>
        </ul>
        <br> 注意事項
        <ul>
            <li>參加者須同意參加活動的內容所有權屬Gap Taiwan台灣蓋璞有限公司(下稱主辦單位)，不得隨意轉載使用本站內容。</li>
            <li>優惠券使用不得要求折抵現金、退換、轉售或折換其他物品，主辦單位保有活動方式變更之權利。</li>
            <li>本活動注意事項載明於活動網頁中，參加者於參加本活動之同時，即視為同意接受本活動注意事項之規範。</li>
            <li>一旦發現有蓄意攻擊網站程式等違反網路公平原則(包括但不限於以任何方式導致系統異常或竄改網站程式機制影響活動結果)，導致本活動如有任何因電腦、網路、電話、技術或其他不可歸責於主辦或協辦單位之事由，主辦單位將循法律途徑求償，使用者切勿以身試法。</li>
            <li>主辦單位Gap Taiwan台灣蓋璞有限公司有變更活動內容而不作事前通知之權利。</li>
            <li>本活動與 Facebook 無關，並沒有得到 Facebook 任何方式的贊助、支持或管理。本活動之參加者應同意，不對 Facebook 追究任何因本活動所引起的糾紛。</li>
            <li>網路基因資訊股份有限公司為本次台灣蓋璞有限公司授權網路活動之協辦單位，參加者同意並送出資料即代表將個人資料授權予活動協辦單位作為儲存，聯繫及公佈中獎使用，主辦單位及協辦單位應確保個人資料安全。</li>
            <li>參加者了解參加者提供以上公開個人資料後，有權致信向主辦單位查詢或請求閱覽、請求製給複製本、請求補充或更正、請求停止蒐集、處理或利用，及請求刪除。如發現活動流程中有個資異常查蒐的情況，請使用者協助以Facebook訊息方式，來信向「 <a href="http://www.facebook.com/GapTW" target="_blank">Gap Taiwan</a> 」粉絲專頁反應。</li>
            <li>以上關於使用者的隱私保密規範，請見Gap官方網站「 <a href="http://tw.gap.hk/privacy" target="_blank">隱私政策聲明</a> 」</li>
        </ul>
    </article>
    <a href="javascript:;" class="back" ng-click="backBtn()">BACK</a>
</div>
