<header>
    <nav>
        <a routerLink="/index" (click)='changeHamer()'><img class="logo" src="asset/svg/logo.svg" alt="logo"></a>
        <ul class="menu">
            <li><a [class.foucs]='isSelected("about")' routerLink="/about">ABOUT</a></li>
            <li><a [class.foucs]='isSelected("work")' routerLink="/work">WORK</a></li>
            <li><a href="javascript:;">CONTACT</a></li>
        </ul>
        <div class="social">
            <img src="asset/svg/facebook.svg" alt="" class="svg">
            <img src="asset/svg/flickr.svg" alt="" class="svg">
            <img src="asset/svg/linkin.svg" alt="" class="svg">
        </div>
        <div class="hamber" [class.open]='isopen' (click)='changeHamer()'>
            <div class="icon"></div>
        </div>
    </nav>
    <!-- end .nav -->
</header>
<!-- end .header -->
<!-- mobile meun -->
<div class="mobile-menu">
    <ul>
        <li [class.foucs]="isSelected('/about')"><a routerLink="/about" (click)="closeMenu()">ABOUT</a></li>
        <li [class.foucs]="isSelected('/work')"><a routerLink="/work" (click)="closeMenu()">WORK</a></li>
        <li><a href="javascript:;" (click)="closeMenu()">CONTACT</a></li>
    </ul>
    <div class="social">
        <img src="asset/svg/facebook.svg" alt="" class="svg">
        <img src="asset/svg/flickr.svg" alt="" class="svg">
        <img src="asset/svg/linkin.svg" alt="" class="svg">
    </div>
</div>
<!-- end .mobile-menu -->