<div class="icon-menu">
    <img class="btn-cam" [routerLink]="['/about/camera']" routerLinkActive="hide" src="../../asset/svg/camera.svg" (click)="onMenuBtn('camera')" alt="camera">
    <img class="btn-bpk" [routerLink]="['/about/climbing']" routerLinkActive="hide" src="../../asset/svg/backpack.svg" (click)="onMenuBtn('climbing')" alt="climbing">
    <img class="btn-bike" [routerLink]="['/about/bike']" routerLinkActive="hide" src="../../asset/svg/bike.svg" (click)="onMenuBtn('bike')" alt="bike">
</div>
