@import '../../sass/media';

.icon-menu {
    position: relative;
    float: right;
    margin-top: -5rem;
    cursor: pointer;
    img {
        width: 42px;
        margin: 0 0.5rem;
        &:hover {
            opacity: 0.5;
        }
    }
    .hide {
        display: none;
    }
    @media #{$sml} {
        margin: 1.5rem 0 1rem;
        float: none;
        right: 0;
        text-align: center;
        img {
            width: 50px;
        }
    }
}
