<div class="wrap">
    <div class="cont-title">
        <h2 class="title">ABOUT <span class="subtitle">Resume</span></h2>
        <!-- <h2 class="subtitle">Biography/自傳</h2> -->
    </div>
    <div class="line"></div>
    <div class="back" routerLink="/about"><img src="assets/svg/back.svg" alt=""></div>
    <div class="bio-cont">
        <div class="profile">
            <div class="photo">
                <img src="assets/img/erikson2.JPG" alt="">
            </div>
            <h4 class="name">陳柏達 / Erikson</h4>
        </div>
        <!-- end .profile -->
        <div class="intro">
            <p class="txt-box">哈囉，我是Erikson<br>主要的工作內容是前端工程師，主要是coding但也做過網頁設計，對於視覺設計這塊也懂一些。程式是從好幾年前flash盛行的年代開始接觸，主要負責前端網頁上所有的互動及流程，並和後端程式做串接存取後台的資料庫。
                <br>
                <br> HTML網頁是從三年前開始大量接觸，慢慢的學會scss，RWD等相關技能，工作上的需求常接觸一些fb api, google api等，曾玩過arduino晶片控制器，用程式來操控實體的裝置做互動。也使用git版本控管, AngularJs框架, webpack及glup等開發工具，最近開始在學Angular2，這個人網站就是用Angular2寫的，方便以後能加快專案的進行和管理維護。
                <br>
                <br> 喜歡戶外活動，興趣是攝影、登山、和單車，討厭一次性商品和塑膠商品，為了環境著想希望大家能減少製造圾垃。最後，想了解我之前的工作經驗可以到<a [routerLink]="['/about/experience']">Experience</a>，若想知道我的興趣可以到<a [routerLink]="['/about/hobbies']">Hobbies</a>，想知道之前做過的案子可以到<a [routerLink]="['/work']">Work</a>。<br><br>以上，感謝各位。
                <br>
            </p>
            <br>
            <br>
            <div class="skill-cont txt-box">
                <h4>Software</h4>
                <ul>
                    <li class="skill">
                        <img src="assets/img/resume/ps.jpg" alt="ps">
                        <h5>Photoshop</h5>
                    </li>
                    <li class="skill">
                        <img src="assets/img/resume/ai.jpg" alt="ai">
                        <h5>Illustrator</h5>
                    </li>
                    <li class="skill">
                        <img src="assets/img/resume/flash.jpg" alt="flash">
                        <h5>Flash</h5>
                    </li>
                    <li class="skill">
                        <img src="assets/img/resume/sublime.jpg" alt="sublime">
                        <h5>Sublime</h5>
                    </li>
                    <li class="skill">
                        <img src="assets/img/resume/sketch.jpg" alt="sketch">
                        <h5>Sketch</h5>
                    </li>
                </ul>
            </div>
            <div class="skill-cont txt-box">
                <h4>Programming language</h4>
                <ul>
                    <li class="skill">
                        <img src="assets/img/resume/js.jpg" alt="js">
                        <h5>Javascript</h5>
                    </li>
                    <li class="skill">
                        <img src="assets/img/resume/html.jpg" alt="html">
                        <h5>HTML</h5>
                    </li>
                    <li class="skill">
                        <img src="assets/img/resume/css3.jpg" alt="css3">
                        <h5>CSS3</h5>
                    </li>
                    <li class="skill">
                        <img src="assets/img/resume/jquery.jpg" alt="jquery">
                        <h5>Jquery</h5>
                    </li>
                    <li class="skill">
                        <img src="assets/img/resume/angular.jpg" alt="angular">
                        <h5>Angular 1/2</h5>
                    </li>
                    <li class="skill">
                        <img src="assets/img/resume/webpack.jpg" alt="webpack">
                        <h5>Webpack</h5>
                    </li>
                    <li class="skill">
                        <img src="assets/img/resume/Gulp.jpg" alt="Gulp">
                        <h5>Gulp</h5>
                    </li>
                </ul>
            </div>
            <div class="skill-cont txt-box">
                <h4>Operating system</h4>
                <ul>
                    <li class="skill big">
                        <img src="assets/img/resume/mac.jpg" alt="mac">
                        <h5>Mac</h5>
                    </li>
                    <li class="skill big">
                        <img src="assets/img/resume/pc.jpg" alt="pc">
                        <h5>Windows</h5>
                    </li>
                </ul>
            </div>
            <!-- end .skill-cont -->
        </div>
        <!-- end .intro -->
    </div>
    <!-- end .bio-cont -->
</div>
