<div class="wrap">
    <div class="cont-title">
        <h2 class="title">ABOUT <span class="subtitle">Resume</span></h2>
        <!-- <h2 class="subtitle">Biography/自傳</h2> -->
    </div>
    <div class="line"></div>
    <div class="back" routerLink="/about"><img src="asset/svg/back.svg" alt=""></div>
    <div class="bio-cont">
        <div class="profile">
            <div class="photo">
                <img src="img/erikson2.JPG" alt="">
            </div>
            <h4 class="name">陳柏達 / Erikson</h4>
        </div>
        <!-- end .profile -->
        <div class="intro">
            <p>第一次踏入網路產業是從網頁設計開始，對設計的美感有自己的看法，接著設計做了一兩年轉換跑道開始摸索程式的樂趣。
                <br>
                <br> 我是從flash盛行的年代開始接觸寫程式這一條路,那時候寫as3是網頁前端的主流，也是一個美好的年代，不用考慮所有瀏覽器的相容性跟所有的行動裝置,主要是負責網頁上的互動及流程的串接作製作，並與後端配合串接api存取資料庫的資料。
                <br>
                <br> 隨著flash式微，開始學習javascript及其他相關工具，除了前端網頁技術外，也熟悉FB api , Angular js, Git 版本控管及glup開發工具，上一個工作的專案大多用Angular JS 框架去完成，和fb api 串接也是幾乎每個案子都會用到。
                <br>
                <br> 以下提供一些上一個工作有經手的專案(2016), 主要是負責前端程式的撰寫。
            </p>
            <br>
            <br>
            <div class="skill-cont">
                <h4>Software</h4>
                <ul>
                    <li class="skill">
                        <img src="img/resume/ps.jpg" alt="ps">
                        <h5>Photoshop</h5>
                    </li>
                    <li class="skill">
                        <img src="img/resume/ai.jpg" alt="ai">
                        <h5>Illustrator</h5>
                    </li>
                    <li class="skill">
                        <img src="img/resume/flash.jpg" alt="flash">
                        <h5>Flash</h5>
                    </li>
                    <li class="skill">
                        <img src="img/resume/sublime.jpg" alt="sublime">
                        <h5>Sublime</h5>
                    </li>
                    <li class="skill">
                        <img src="img/resume/sketch.jpg" alt="sketch">
                        <h5>Sketch</h5>
                    </li>
                </ul>
            </div>
            <div class="skill-cont">
                <h4>Programming language</h4>
                <ul>
                    <li class="skill">
                        <img src="img/resume/js.jpg" alt="js">
                        <h5>Javascript</h5>
                    </li>
                    <li class="skill">
                        <img src="img/resume/html.jpg" alt="html">
                        <h5>HTML</h5>
                    </li>
                    <li class="skill">
                        <img src="img/resume/css3.jpg" alt="css3">
                        <h5>CSS3</h5>
                    </li>
                    <li class="skill">
                        <img src="img/resume/jquery.jpg" alt="jquery">
                        <h5>Jquery</h5>
                    </li>
                    <li class="skill">
                        <img src="img/resume/angular.jpg" alt="angular">
                        <h5>Angular 1/2</h5>
                    </li>
                    <li class="skill">
                        <img src="img/resume/webpack.jpg" alt="webpack">
                        <h5>Webpack</h5>
                    </li>
                    <li class="skill">
                        <img src="img/resume/Gulp.jpg" alt="Gulp">
                        <h5>Gulp</h5>
                    </li>
                </ul>
            </div>
            <div class="skill-cont">
                <h4>Operating system</h4>
                <ul>
                    <li class="skill big">
                        <img src="img/resume/mac.jpg" alt="mac">
                        <h5>Mac</h5>
                    </li>
                    <li class="skill big">
                        <img src="img/resume/pc.jpg" alt="pc">
                        <h5>Windows</h5>
                    </li>
                </ul>
            </div>
            <!-- end .skill-cont -->
        </div>
        <!-- end .intro -->
    </div>
    <!-- end .bio-cont -->
</div>
