<div class="wrap">
    <div class="about-cont">
        <ul>
            <li class="box" routerLink="/about/resume" (click)="resumeBtn()" >
                <div class="box-cont">
                    <div class="bg"><img src="assets/img/book2.png" alt="自傳"></div>
                    <h6>
                        Resume
                        <span>關於我</span>
                    </h6>
                    <p>Erikson Chen / 陳柏達</p>
                </div>
                
            </li>
            <li class="box" routerLink="/about/experience" (click)="experienceBtn()">
                <div class="box-cont">
                    <div class="bg"><img src="assets/img/bottle.png" alt="經歷"></div>
                    <h6>
                        Experience 
                        <span>經歷</span>
                    </h6>
                    <p>業務 / 設計 / 程式</p>
                </div>
            </li>
            <li class="box" [routerLink]="['/about/hobbies']" (click)="hobbiesBtn()">
                <div class="box-cont">
                   <div class="bg"><img src="assets/img/hobbies.png" alt="不務正業"></div>
                    <h6>
                        Hobbies 
                        <span>興趣</span>
                    </h6>
                    <p>攝影 / 登山 / 單車</p> 
                </div>
                
            </li>
        </ul>
    </div>
</div>
