@import "../../assets/sass/color";
@import "../../assets/sass/mixin";
@import "../../assets/sass/media";
// about style.css
.about-cont {
    display: block;
    position: relative;
    text-align: center;
    margin-top: -210px;
    padding: 0 2%;
    width: 100%;
    top: 50%;
    @media #{$sml} {
        padding: 0;
        margin-top: 76px;
        top: 0;
    }
    ul {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        @media #{$sml} {
            justify-content: center;
        }
        .box {
            width: 28%;
            letter-spacing: 1px;
            cursor: pointer;
            color: $textGray;
            .box-cont {
                background: #fff;
                padding: 3rem 0;
                overflow: hidden;
                border: 1px solid $lightGray;
                @include rounded(10px);
                @include ease(0.25s);
                p,
                h6 {
                    @include ease(0.25s);
                }
                .bg {
                    text-align: center;
                    // height: 236px;
                    overflow: hidden;
                    // padding-top: 2rem;
                    @include ease(0.25s);
                    img {
                        height: 200px;
                    }
                    @media #{$sml} {
                        overflow: visible;
                        img {
                            height: 175px;
                        }
                    }
                }
                h6 {
                    // margin-top: 20px;
                    line-height: 1.5;
                    letter-spacing: 0;
                    display: block;
                    color: #000;
                    font-size: 1.5rem;
                    font-weight: 100;
                    @include ease(0.25s);
                    @media #{$sml} {
                        font-size: 1.5rem;
                    }
                    span {
                        display: block;
                        font-size: 1.25rem;
                        font-weight: 100;
                        @media #{$sml} {
                            font-size: 1.5rem;
                        }
                    }
                }
                p {
                    margin-top: 30px;
                    font-weight: 100;
                    @media #{$sml} {
                        font-size: 1rem;
                        margin-top: 1.5rem;
                    }
                }
                &:hover {
                    background-color: #fafafa;
                    box-shadow: 0px 2px 15px 0px rgba(150, 150, 150, 0.40);
                    h6 {
                        color: $darkRed;
                    }
                    .bg {
                        transform: scale(1.1);
                    }
                    p {
                        color: $textDark;
                    }
                }
            }
            @media #{$med} {
                width: 32%;
            }
            @media #{$sml} {
                width: 90%;
                margin-bottom: 1rem;
                .box-cont {
                    background-color: #eee;
                    border: 0;
                    // padding-bottom: 1.5rem;
                }
            }
        }
    }
}