@import "media";
@import 'color';
@import 'mixin';
.wrap {
    padding: 4.625rem 2rem 0.875rem 2rem;
    @media #{$sml} {
        padding: 4.625rem 1.75rem 0.875rem 1.75rem;
    }
}

.cont-title {
    margin-bottom: -2px;
    letter-spacing: 1px;
    position: relative;
    .title {
        color: $lightGray;
        // font-family: Helvetica;
        font-weight: 100;
        font-size: 3rem;
        letter-spacing: 2px;
    }
    .subtitle {
        // margin-top: -1.5rem;
        margin-left: -8px;
        font-size: 2rem;
        color: $textDark;
    }
    @media #{$sml} {
        text-align: left;
        // margin-bottom: 0.5rem;
        // margin-top: 1rem;
        width: 100%;
        .subtitle {
            margin-top: 0;
            margin-left: 0;
            font-size: 1.75rem;
            display: block;
        }
        .title {
            font-size: 2.5rem;
            color: black;
        }
        h5 {
            padding-bottom: 0.25rem;
            color: $textGray;
            // font-size: 0.875rem;
        }
    }
}

.line {
    position: relative;
    border-bottom: 1px solid $lightGray;
    margin: 0 auto;
    width: 100%;
    @media #{$sml} {
        width: 35%;
        border-color: $darkRed;
        display: none;
    }
}

.back {
    position: absolute;
    width: 42px;
    height: 42px;
    right: 2rem;
    margin-top: -3rem;
    opacity: 0.5;
    @include ease;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
    @media #{$sml} {
        right: 1rem;
        margin-top: 0;
        top: 4.5rem;
    }
}