@import "materialize";
@import "color";
@import "mixin";
@import "cont-title";
@import "media";
// contact.css
nav {
    background-color: initial;
    box-shadow: none;
}

.wrap {
    .hiddendiv {
        display: none;
    }
    @media #{$sml} {
        padding: 4.625rem 1rem 0.875rem;
    }
    .line {
        margin-top: 0;
        @media #{$sml} {
            margin-top: 0;
        }
    }
    .thank {
        text-align: center;
        width: 70%;
        margin: 1rem auto 2rem;
        color: $textGray;
        font-size: 1.25rem;
        @media #{$sml} {
            text-align: left;
            margin-top: 0;
            width: 100%;
        }
    }
    .form-cont {
        width: 750px;
        margin: 0 auto;
        padding: 1rem 1rem 0;
        @media #{$med} {
            // width: 70%;
        }
        @media #{$sml} {
            width: 100%;
            padding: 2rem 0 0;
        }
        .cont {
            padding: 2rem 1rem;
            border: 5px solid $btnGreen;
            .row {
                margin-bottom: 5px;
            }
            @media #{$sml} {
                padding: 2rem 0;
                border: none;
                border-top: 1px solid $btnGreen;
            }
        }
        .btn {
            margin: 0 auto;
            width: 200px;
            display: block;
            &.isClick {
                display: none;
            }
            @media #{$sml} {
                width: 80%;
                height: 45px;
                line-height: 45px;
            }
        }
    }
}